INSTANCE_NAME=tailnord

# IP addresses for the containers
IP_SUBNET="10.1.1.0/24"
IP_TAILSCALE="10.1.1.2"
IP_NORDVPN="10.1.1.3"

# Your Tailscale information
TAILSCALE_AUTH_KEY=
TAILSCALE_UP_LOGIN_SERVER=

# Your NordVPN login token
NORDVPN_TOKEN=

# Which endpoint to connect to
NORDVPN_ENDPOINT=San_Francisco

# If using the regular NordVPN client
NORDVPN_TECHNOLOGY=openvpn
NORDVPN_OPENVPN_PROTOCOL=tcp

# Disconnect and reconnect after N hours
NORDVPN_RECONNECT_AFTER_HOURS=168
