version: '3.8'

name: tailnord

services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailnord-tailscale
    hostname: tailnord-tailscale
    command: [
      '/scripts/tailscale_up.sh'
    ]
    user: root
    restart: always
    volumes:
      - "/dev/net/tun:/dev/net/tun"
      - "./tailscale/state:/var/lib/tailscale"
      - "./tailscale/scripts:/scripts"
    environment:
      - TAILSCALE_UP_LOGIN_SERVER=${TAILSCALE_UP_LOGIN_SERVER}
    cap_add:
      - net_admin
      - sys_module
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.forwarding=1
      - net.ipv6.conf.all.forwarding=1
    networks:
      tailnord-net:
        ipv4_address: 10.1.1.2

  nordvpn:
    build:
      context: nordvpn
    container_name: tailnord-nordvpn
    hostname: tailnord-nordvpn
    entrypoint: [
      '/scripts/nordvpn_up.sh'
    ]
    restart: always
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.forwarding=1
      - net.ipv6.conf.all.disable_ipv6=1
    environment:
      - NORDVPN_TOKEN=${NORDVPN_TOKEN}
      - NORDVPN_ENDPOINT=${NORDVPN_ENDPOINT}
      - NORDVPN_TECHNOLOGY=${NORDVPN_TECHNOLOGY}
      - NORDVPN_OPENVPN_PROTOCOL=${NORDVPN_OPENVPN_PROTOCOL}
    volumes:
      - "/dev/net/tun:/dev/net/tun"
      - "./nordvpn/scripts:/scripts"
    cap_add:
      - net_admin
      - sys_module
    networks:
      tailnord-net:
        ipv4_address: 10.1.1.3

networks:
  tailnord-net:
    enable_ipv6: false
    ipam:
      config:
        - subnet: "10.1.1.0/24"

